USE [master]
GO
/****** Object:  Database [BizSol]    Script Date: 12/27/2020 3:33:37 AM ******/
CREATE DATABASE [BizSol]
 CONTAINMENT = NONE
 
ALTER DATABASE [BizSol] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BizSol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BizSol]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/27/2020 3:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ad_post]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ad_post](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[Condition] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[UserID] [nvarchar](128) NULL,
	[cat_Id] [int] NULL,
	[fk_vehicle_Id] [int] NULL,
	[fkBikeid] [int] NULL,
	[fkMobileId] [int] NULL,
	[fkElectronicId] [int] NULL,
	[fkClothid] [int] NULL,
	[fkPropertyId] [int] NULL,
	[WhenAdded] [datetime2](7) NOT NULL,
	[FkCityId] [int] NULL,
 CONSTRAINT [PK_dbo.ad_post] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ads_images]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ads_images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[AdId] [int] NULL,
 CONSTRAINT [PK_dbo.ads_images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bike]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bike](
	[BikeID] [int] IDENTITY(1,1) NOT NULL,
	[BikeMileage] [int] NOT NULL,
	[BrandName] [nvarchar](max) NULL,
	[IsFileAvailable] [nvarchar](max) NULL,
	[BikeYear] [int] NOT NULL,
	[fk_Cat_Id] [int] NULL,
 CONSTRAINT [PK_dbo.bike] PRIMARY KEY CLUSTERED 
(
	[BikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cat_Id] [int] IDENTITY(1,1) NOT NULL,
	[cat_name] [nvarchar](max) NULL,
	[cat_Status] [int] NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[cat_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NULL,
	[CityImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.city] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cloth]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cloth](
	[ClothId] [int] IDENTITY(1,1) NOT NULL,
	[ClothType] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[FkCatId] [int] NULL,
 CONSTRAINT [PK_dbo.cloth] PRIMARY KEY CLUSTERED 
(
	[ClothId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Message_] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[electronic]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[electronic](
	[ElectronicId] [int] IDENTITY(1,1) NOT NULL,
	[ModelYear] [int] NOT NULL,
	[BrandName] [nvarchar](max) NULL,
	[FkCatID] [int] NULL,
 CONSTRAINT [PK_dbo.electronic] PRIMARY KEY CLUSTERED 
(
	[ElectronicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mobiles]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mobiles](
	[MobilesId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](max) NULL,
	[fkCatId] [int] NULL,
 CONSTRAINT [PK_dbo.Mobiles] PRIMARY KEY CLUSTERED 
(
	[MobilesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property](
	[PropertyId] [int] IDENTITY(1,1) NOT NULL,
	[AreaType] [nvarchar](max) NULL,
	[PropertyArea] [int] NOT NULL,
	[WashRoom] [int] NOT NULL,
	[BedRoom] [int] NOT NULL,
	[IsCarParking] [nvarchar](max) NULL,
	[FKCatId] [int] NULL,
 CONSTRAINT [PK_dbo.property] PRIMARY KEY CLUSTERED 
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [nvarchar](128) NOT NULL,
	[ResetPasswordCode] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaim]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserClaim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserLogin] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle]    Script Date: 12/27/2020 3:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle](
	[Vehicle_Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](max) NULL,
	[IsFileAvailable] [nvarchar](max) NULL,
	[Vehicle_Milage] [int] NOT NULL,
	[fk_cat_Id] [int] NULL,
	[Vehicle_Year] [int] NOT NULL,
 CONSTRAINT [PK_dbo.vehicle] PRIMARY KEY CLUSTERED 
(
	[Vehicle_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ad_post] ON 

INSERT [dbo].[ad_post] ([PostId], [Title], [Price], [Condition], [Detail], [UserID], [cat_Id], [fk_vehicle_Id], [fkBikeid], [fkMobileId], [fkElectronicId], [fkClothid], [fkPropertyId], [WhenAdded], [FkCityId]) VALUES (17, N'suzuki 150', 120000, N'new', N'brand new suzuki 150 for sale 
cheap price', N'6ec545d0-379d-4850-b173-4284cbf8393c', 1, NULL, 5, NULL, NULL, NULL, NULL, CAST(N'2020-12-27T02:08:19.1029387' AS DateTime2), 4)
INSERT [dbo].[ad_post] ([PostId], [Title], [Price], [Condition], [Detail], [UserID], [cat_Id], [fk_vehicle_Id], [fkBikeid], [fkMobileId], [fkElectronicId], [fkClothid], [fkPropertyId], [WhenAdded], [FkCityId]) VALUES (18, N'suzuki gs 150', 100000, N'used', N'suzuki gs 150 for sale 
serious buyer contact please', N'6ec545d0-379d-4850-b173-4284cbf8393c', 1, NULL, 6, NULL, NULL, NULL, NULL, CAST(N'2020-12-27T02:10:04.9167630' AS DateTime2), 4)
INSERT [dbo].[ad_post] ([PostId], [Title], [Price], [Condition], [Detail], [UserID], [cat_Id], [fk_vehicle_Id], [fkBikeid], [fkMobileId], [fkElectronicId], [fkClothid], [fkPropertyId], [WhenAdded], [FkCityId]) VALUES (19, N'honda 125', 110000, N'new', N'honda 125 new bike for sale', N'6ec545d0-379d-4850-b173-4284cbf8393c', 1, NULL, 7, NULL, NULL, NULL, NULL, CAST(N'2020-12-27T02:12:14.7341015' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ad_post] OFF
GO
SET IDENTITY_INSERT [dbo].[ads_images] ON 

INSERT [dbo].[ads_images] ([Id], [ImagePath], [AdId]) VALUES (31, N'/Images/upload/138044767670059647maxresdefault (1).jpg', 17)
INSERT [dbo].[ads_images] ([Id], [ImagePath], [AdId]) VALUES (32, N'/Images/upload/789085087619459936maxresdefault (1).jpg', 17)
INSERT [dbo].[ads_images] ([Id], [ImagePath], [AdId]) VALUES (33, N'/Images/upload/2089710874300274843394710be8e957e04b09c043bfe891b6d.jpg', 18)
SET IDENTITY_INSERT [dbo].[ads_images] OFF
GO
SET IDENTITY_INSERT [dbo].[bike] ON 

INSERT [dbo].[bike] ([BikeID], [BikeMileage], [BrandName], [IsFileAvailable], [BikeYear], [fk_Cat_Id]) VALUES (1, 5000, N'suzuki', N'yes', 2015, 1)
INSERT [dbo].[bike] ([BikeID], [BikeMileage], [BrandName], [IsFileAvailable], [BikeYear], [fk_Cat_Id]) VALUES (2, 200, N'yamaha', N'yes', 2014, 1)
INSERT [dbo].[bike] ([BikeID], [BikeMileage], [BrandName], [IsFileAvailable], [BikeYear], [fk_Cat_Id]) VALUES (3, 5000, N'honda', N'no', 2015, 1)
SET IDENTITY_INSERT [dbo].[bike] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([cat_Id], [cat_name], [cat_Status]) VALUES (1, N'Bikes', 1)
INSERT [dbo].[Category] ([cat_Id], [cat_name], [cat_Status]) VALUES (2, N'Mobile', 1)
INSERT [dbo].[Category] ([cat_Id], [cat_name], [cat_Status]) VALUES (3, N'Vehicles', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([CityID], [CityName], [CityImage]) VALUES (1, N'Islamabad', N'null')
INSERT [dbo].[city] ([CityID], [CityName], [CityImage]) VALUES (2, N'Quetta', N'null')
INSERT [dbo].[city] ([CityID], [CityName], [CityImage]) VALUES (3, N'Peshawar', N'null')
SET IDENTITY_INSERT [dbo].[city] OFF
GO
SET IDENTITY_INSERT [dbo].[cloth] ON 

INSERT [dbo].[cloth] ([ClothId], [ClothType], [Color], [Size], [FkCatId]) VALUES (1, N'Child', N'red', NULL, 6)
INSERT [dbo].[cloth] ([ClothId], [ClothType], [Color], [Size], [FkCatId]) VALUES (2, N'Male', N'white/grey/mehroon', N'small/medium/large', 6)
INSERT [dbo].[cloth] ([ClothId], [ClothType], [Color], [Size], [FkCatId]) VALUES (3, N'Female', N'green', N'all', 6)
SET IDENTITY_INSERT [dbo].[cloth] OFF
GO
SET IDENTITY_INSERT [dbo].[contact] ON 

INSERT [dbo].[contact] ([ContactId], [FullName], [Email], [Message_], [PhoneNumber]) VALUES (1, N'saud', N'khan@gmail.com', N'aadasdsdsa', N'98788')
SET IDENTITY_INSERT [dbo].[contact] OFF
GO
SET IDENTITY_INSERT [dbo].[electronic] ON 

INSERT [dbo].[electronic] ([ElectronicId], [ModelYear], [BrandName], [FkCatID]) VALUES (6, 22, N'nova', 4)
INSERT [dbo].[electronic] ([ElectronicId], [ModelYear], [BrandName], [FkCatID]) VALUES (7, 2015, N'haier', 4)
INSERT [dbo].[electronic] ([ElectronicId], [ModelYear], [BrandName], [FkCatID]) VALUES (8, 2019, N'panasonic', 4)
SET IDENTITY_INSERT [dbo].[electronic] OFF
GO
SET IDENTITY_INSERT [dbo].[Mobiles] ON 

INSERT [dbo].[Mobiles] ([MobilesId], [BrandName], [fkCatId]) VALUES (2, N'nokia', 2)
INSERT [dbo].[Mobiles] ([MobilesId], [BrandName], [fkCatId]) VALUES (3, N'huawei', 2)
INSERT [dbo].[Mobiles] ([MobilesId], [BrandName], [fkCatId]) VALUES (4, N'iphone', 2)
SET IDENTITY_INSERT [dbo].[Mobiles] OFF
GO
SET IDENTITY_INSERT [dbo].[property] ON 

INSERT [dbo].[property] ([PropertyId], [AreaType], [PropertyArea], [WashRoom], [BedRoom], [IsCarParking], [FKCatId]) VALUES (1, N'Kinal', 15, 10, 6, N'no', 5)
INSERT [dbo].[property] ([PropertyId], [AreaType], [PropertyArea], [WashRoom], [BedRoom], [IsCarParking], [FKCatId]) VALUES (2, N'Marla', 5, 2, 3, N'no', 5)
INSERT [dbo].[property] ([PropertyId], [AreaType], [PropertyArea], [WashRoom], [BedRoom], [IsCarParking], [FKCatId]) VALUES (3, N'Kinal', 1, 9, 10, N'yes', 5)
SET IDENTITY_INSERT [dbo].[property] OFF
GO
INSERT [dbo].[Role] ([Id], [Name]) VALUES (N'1', N'admin')
GO
INSERT [dbo].[User] ([Id], [ResetPasswordCode], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6ec545d0-379d-4850-b173-4284cbf8393c', NULL, N'khan@gmail.com', 0, N'AM0VcRwyb+dljJrWW00emEmu3fDW79nycAALRd7qoY9oafpcKm9oFp5a9sUHBrzlGg==', N'0441f140-3eaa-4128-af8c-22f05858122e', N'03235858930', 0, 0, NULL, 1, 0, N'ali1234')
INSERT [dbo].[User] ([Id], [ResetPasswordCode], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'd40fc553-0027-4cf5-9335-769b7277d6e7', NULL, N'xepena2768@nenekbet.com', 0, N'AKUgmz4/V9ZOzSs6fbONiaf+BZPsMXwWkzhhWCgKzxa9MtP4T1+LjeV5dg5OjbdgCA==', N'e0e29dab-67f3-4ca4-9dd8-d09ad039a918', N'03235878965', 0, 0, NULL, 1, 0, N'saud')
INSERT [dbo].[User] ([Id], [ResetPasswordCode], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'f3b37d1f-e899-47ec-bc3b-cd93e284a774', NULL, N'xeham92815@nowdigit.com', 0, N'ABR5FuCHlGFfXYGbMOt8n47/RL80JEdwTdxfTrkGKMxmMhmSmNPyd7ghgQr5cyFa6Q==', N'b5236d31-227c-4d0d-a589-dbf4572c09eb', N'03235858930', 0, 0, NULL, 1, 0, N'saudkhn1')
GO
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'f4018a70-63dc-4191-bf4a-3bce82d619f7', N'1')
GO
SET IDENTITY_INSERT [dbo].[vehicle] ON 

INSERT [dbo].[vehicle] ([Vehicle_Id], [BrandName], [IsFileAvailable], [Vehicle_Milage], [fk_cat_Id], [Vehicle_Year]) VALUES (1, N'honds', N'no', 2000, 3, 2015)
INSERT [dbo].[vehicle] ([Vehicle_Id], [BrandName], [IsFileAvailable], [Vehicle_Milage], [fk_cat_Id], [Vehicle_Year]) VALUES (2, N'honda', N'yes', 10000, 3, 2019)
INSERT [dbo].[vehicle] ([Vehicle_Id], [BrandName], [IsFileAvailable], [Vehicle_Milage], [fk_cat_Id], [Vehicle_Year]) VALUES (3, N'suzuki', N'yes', 20000, 3, 2006)
SET IDENTITY_INSERT [dbo].[vehicle] OFF
GO
/****** Object:  Index [IX_cat_Id]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_cat_Id] ON [dbo].[ad_post]
(
	[cat_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fk_vehicle_Id]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_fk_vehicle_Id] ON [dbo].[ad_post]
(
	[fk_vehicle_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fkBikeid]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_fkBikeid] ON [dbo].[ad_post]
(
	[fkBikeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FkCityId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_FkCityId] ON [dbo].[ad_post]
(
	[FkCityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fkClothid]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_fkClothid] ON [dbo].[ad_post]
(
	[fkClothid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fkElectronicId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_fkElectronicId] ON [dbo].[ad_post]
(
	[fkElectronicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fkMobileId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_fkMobileId] ON [dbo].[ad_post]
(
	[fkMobileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fkPropertyId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_fkPropertyId] ON [dbo].[ad_post]
(
	[fkPropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserID]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[ad_post]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_AdId] ON [dbo].[ads_images]
(
	[AdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fk_Cat_Id]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_fk_Cat_Id] ON [dbo].[bike]
(
	[fk_Cat_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FkCatId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_FkCatId] ON [dbo].[cloth]
(
	[FkCatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FkCatID]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_FkCatID] ON [dbo].[electronic]
(
	[FkCatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fkCatId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_fkCatId] ON [dbo].[Mobiles]
(
	[fkCatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FKCatId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_FKCatId] ON [dbo].[property]
(
	[FKCatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[Role]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[User]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserClaim]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserLogin]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRole]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRole]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_fk_cat_Id]    Script Date: 12/27/2020 3:33:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_fk_cat_Id] ON [dbo].[vehicle]
(
	[fk_cat_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ad_post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ad_post_dbo.bike_fkBikeid] FOREIGN KEY([fkBikeid])
REFERENCES [dbo].[bike] ([BikeID])
GO
ALTER TABLE [dbo].[ad_post] CHECK CONSTRAINT [FK_dbo.ad_post_dbo.bike_fkBikeid]
GO
ALTER TABLE [dbo].[ad_post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ad_post_dbo.Category_cat_Id] FOREIGN KEY([cat_Id])
REFERENCES [dbo].[Category] ([cat_Id])
GO
ALTER TABLE [dbo].[ad_post] CHECK CONSTRAINT [FK_dbo.ad_post_dbo.Category_cat_Id]
GO
ALTER TABLE [dbo].[ad_post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ad_post_dbo.city_FkCityId] FOREIGN KEY([FkCityId])
REFERENCES [dbo].[city] ([CityID])
GO
ALTER TABLE [dbo].[ad_post] CHECK CONSTRAINT [FK_dbo.ad_post_dbo.city_FkCityId]
GO
ALTER TABLE [dbo].[ad_post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ad_post_dbo.cloth_fkClothid] FOREIGN KEY([fkClothid])
REFERENCES [dbo].[cloth] ([ClothId])
GO
ALTER TABLE [dbo].[ad_post] CHECK CONSTRAINT [FK_dbo.ad_post_dbo.cloth_fkClothid]
GO
ALTER TABLE [dbo].[ad_post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ad_post_dbo.electronic_fkElectronicId] FOREIGN KEY([fkElectronicId])
REFERENCES [dbo].[electronic] ([ElectronicId])
GO
ALTER TABLE [dbo].[ad_post] CHECK CONSTRAINT [FK_dbo.ad_post_dbo.electronic_fkElectronicId]
GO
ALTER TABLE [dbo].[ad_post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ad_post_dbo.Mobiles_fkMobileId] FOREIGN KEY([fkMobileId])
REFERENCES [dbo].[Mobiles] ([MobilesId])
GO
ALTER TABLE [dbo].[ad_post] CHECK CONSTRAINT [FK_dbo.ad_post_dbo.Mobiles_fkMobileId]
GO
ALTER TABLE [dbo].[ad_post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ad_post_dbo.property_fkPropertyId] FOREIGN KEY([fkPropertyId])
REFERENCES [dbo].[property] ([PropertyId])
GO
ALTER TABLE [dbo].[ad_post] CHECK CONSTRAINT [FK_dbo.ad_post_dbo.property_fkPropertyId]
GO
ALTER TABLE [dbo].[ad_post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ad_post_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ad_post] CHECK CONSTRAINT [FK_dbo.ad_post_dbo.User_UserID]
GO
ALTER TABLE [dbo].[ad_post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ad_post_dbo.vehicle_fk_vehicle_Id] FOREIGN KEY([fk_vehicle_Id])
REFERENCES [dbo].[vehicle] ([Vehicle_Id])
GO
ALTER TABLE [dbo].[ad_post] CHECK CONSTRAINT [FK_dbo.ad_post_dbo.vehicle_fk_vehicle_Id]
GO
ALTER TABLE [dbo].[ads_images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ads_images_dbo.ad_post_AdId] FOREIGN KEY([AdId])
REFERENCES [dbo].[ad_post] ([PostId])
GO
ALTER TABLE [dbo].[ads_images] CHECK CONSTRAINT [FK_dbo.ads_images_dbo.ad_post_AdId]
GO
ALTER TABLE [dbo].[bike]  WITH CHECK ADD  CONSTRAINT [FK_dbo.bike_dbo.Category_fk_Cat_Id] FOREIGN KEY([fk_Cat_Id])
REFERENCES [dbo].[Category] ([cat_Id])
GO
ALTER TABLE [dbo].[bike] CHECK CONSTRAINT [FK_dbo.bike_dbo.Category_fk_Cat_Id]
GO
ALTER TABLE [dbo].[cloth]  WITH CHECK ADD  CONSTRAINT [FK_dbo.cloth_dbo.Category_FkCatId] FOREIGN KEY([FkCatId])
REFERENCES [dbo].[Category] ([cat_Id])
GO
ALTER TABLE [dbo].[cloth] CHECK CONSTRAINT [FK_dbo.cloth_dbo.Category_FkCatId]
GO
ALTER TABLE [dbo].[electronic]  WITH CHECK ADD  CONSTRAINT [FK_dbo.electronic_dbo.Category_FkCatID] FOREIGN KEY([FkCatID])
REFERENCES [dbo].[Category] ([cat_Id])
GO
ALTER TABLE [dbo].[electronic] CHECK CONSTRAINT [FK_dbo.electronic_dbo.Category_FkCatID]
GO
ALTER TABLE [dbo].[Mobiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mobiles_dbo.Category_fkCatId] FOREIGN KEY([fkCatId])
REFERENCES [dbo].[Category] ([cat_Id])
GO
ALTER TABLE [dbo].[Mobiles] CHECK CONSTRAINT [FK_dbo.Mobiles_dbo.Category_fkCatId]
GO
ALTER TABLE [dbo].[property]  WITH CHECK ADD  CONSTRAINT [FK_dbo.property_dbo.Category_FKCatId] FOREIGN KEY([FKCatId])
REFERENCES [dbo].[Category] ([cat_Id])
GO
ALTER TABLE [dbo].[property] CHECK CONSTRAINT [FK_dbo.property_dbo.Category_FKCatId]
GO
ALTER TABLE [dbo].[UserClaim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserClaim_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaim] CHECK CONSTRAINT [FK_dbo.UserClaim_dbo.User_UserId]
GO
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserLogin_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [FK_dbo.UserLogin_dbo.User_UserId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId]
GO
ALTER TABLE [dbo].[vehicle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.vehicle_dbo.Category_fk_cat_Id] FOREIGN KEY([fk_cat_Id])
REFERENCES [dbo].[Category] ([cat_Id])
GO
ALTER TABLE [dbo].[vehicle] CHECK CONSTRAINT [FK_dbo.vehicle_dbo.Category_fk_cat_Id]
GO
USE [master]
GO
