h2{
    text-align:center;
    margin-top:65px;
}
h4{
    text-align:center;
}
#product_img {
    height: 100px;
    width: 100px;
    padding: 2px;
    margin-left: 2px;
}
#product_img2 {
    height: 100px;
    width: 100px;
    padding: 2px;
    margin-left: 2px;
}
#product_img3 {
    height: 100px;
    width: 100px;
    padding: 2px;
    margin-left: 2px;
}