@{
    ViewBag.Title = "Reset password confirmation";
    Layout = null;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here ", "Usr_profile", "User")
    </p>
</div>
