
@{
    ViewBag.Title = "Error";
    Layout = null;
}
<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<section>
    <div class="container">
        <div class="row text-center">
            <img class="img-responsive" src="~/Images/error page.jpg" />
            @Html.ActionLink("Back to Home", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary sharp btn-sm btn-style-one btn-block" })
        </div>

    </div>
</section>